<header>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div><a href="https://www.google.com" class="navbar-brand">WiWiWisuda</a></div>
        
        <ul class="navbar-nav">
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/wiwi" class="nav-link">Home</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/todo" class="nav-link">Todo</a></li>
        </ul>
        
        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">login</a></li>
                <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">logout</a></li>
        </ul>

    </div>
</nav>

</header>


