<div class="alert alert-success" ng-if='check'>{{message}}</div>
<div class ="container">
  <h1>My Todo's</h1>
<table border="1">
  <thead>
    <tr>
      <th>id</th>
      <th>description</th>
      <th>targetDate</th>
      <th>done</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <!-- for (Todo todo : todos) -->
    <!-- todo หลัง let เอาไว้ใช้ใน template -->
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate}}</td>
      <td>{{todo.done}}</td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
